body{
    font-family: 'Noto Sans', sans-serif;
}
.nav-top{
    background-color: #19252F;
}
.pricing-header{
    max-width: 700px;
}
.card-header{
    background-color: rgba(0, 0, 0, 0);
    border-bottom: none;
}
ul li{
    margin-bottom: 10px;
    color: #4c4a4b;
}
ul li i{
    color: #3CBE6F;
}
h1{
    font-weight: 700;
}